* body, li, ul,a{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.grid-header{
    display: grid;
    grid-auto-columns: 200px 1fr;
    height: 100px;
    background: rgb(228, 236, 228);
}
.grid-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu-estilo li{
    display: inline-flex;
    margin-left: 20px;
}
.menu-estilo a{
    padding: 20px;
    border-radius: 5px;
    
}
.menu-estilo a:hover{
    border-radius: 5px;
    cursor: pointer;
}
.grid-header img{
    width: 400px;
    padding: 5px;
    
}